html{
  background-color: #084C61;
}
.App {
  text-align: center;
  padding-top: 20vh;
  height: 80vh;
  color: #DB3A34;
  font-size: 40px;
}

.title{
  padding-bottom: 5vh;
}

.description{
  font-size: 15px;
  padding-bottom: 5vh;
}

.props{
  font-size: 20px;
  padding-top: 10vh;
  color: white;
}

input[type="number"]
{
  font-size:40px;
  background-color: #084C61;
  color: #DB3A34;
  width: 30vw;
}

button{
  background-color: #084C61;
  font-size:40px;
  color: #DB3A34;
  width: 30vw;
}

a:visited{
  color: white;
}

